
ol.breadcrumb
	li.breadcrumb-item 
		a(href='/') Of-Course
	li.breadcrumb-item.active UCSD
div.input-group
	input.form-control(type='text', name='search', placeholder='Search classes...')
	div.input-group-btn
		button.btn.btn-default(type='submit')
			i.glyphicon.glyphicon-search
div(ng-repeat='class in listofallclasses')
	div.row
		div.col-sm-4
			a(href='/addPost/{{class}}') {{class}}
		div.col-sm-4
		div.com-sm-4


