extends layout

block body

  nav.navbar.navbar-fixed-top.navbar-light
    a.navbar-brand(href='/') Of Course

  div
    ul
      li
        a(href='/') Home
      li
        a(href='/addPost') Add a new post

    div(ng-view)

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')

  footer
    div.row
      div.col-sm-2
        h6.footer-text Copyright &copy 2016 Of Course 
      div.col-sm-8
      div.col-sm-2
        h6.footer-text Coded with 
          span.glyphicon.glyphicon-heart.footer-text
          |  by Andy Nguyen, Justin Huynh, and Shiva Kannan