doctype
html(ng-app="myApp")
  head
    meta(charset='utf8')
    meta(name='viewport', content='width=400')
    base(href='/')
    title Of Course
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Leckerli+One')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
  body
    block body
 